<div class="text-muted">
    <div class="mb-4">Why not try these searches?:</div>
    <dl>
        <dt>"Buffy the vampire slayer"</dt>
        <dd>All these words in this order</dd>
        <dt>critical ~> acclaim</dt>
        <dd>The word "critical" when it appears before and near to the word "acclaim"</dd>
        <dt>st* & sp*</dt>
        <dd>The document must contain words starting with "st" and "sp"</dd>
        <dt>fight | thrones</dt>
        <dd>Documents containing words deriving from "fight" or "thrones" (Word stemming is enabled)</dd>
        <dt>"san ti"</dt>
        <dd>Returns pages containing "Sān tǐ", demonstrating accent insensitivity searching.</dd>
        <dt>%%%m</dt>
        <dd>Returns pages containing words or four letters, ending in "m"</dd>
        <dt>m*e</dt>
        <dd>Returns pages containing words starting with "m" and ending in "e"</dd>
        <dt>?vampyre</dt>
        <dd>Returns pages that contain words that are a fuzzy match for "vampyre" (The ? is optional if fuzzy matching is enabled by default in the query parser options)</dd>
    </dl>
</div>
