@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1:focus {
    outline: none;
}

a, .btn-link {
    color: #0071c1;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }

ul.search-results {
    list-style-type: none;
    padding: 0;
}

    ul.search-results li {
        cursor: pointer;
    }

    ul.search-results li.selected {
        background: #DDD;
    }

    ul.search-results li:hover {
        background: #EEE;
    }


    ul.search-results li span:first-of-type {
        color: #0071c1;
    }

    ul.search-results li span:last-of-type {
        font-size: 0.8em;
    }

pre {
    max-width: calc(100vw - 250px);
}

.result-content {
    border: 1px solid #CCC;
    background: #EEE;
    margin: 0 1em 1em 0;
    padding: 0 1em;
    border-radius: 1em;
}

.word-matches {
    max-width: 150px;
    width: 150px;
    min-width: 150px;
    font-size: 0.9em;
}

.btn.tab {
    border-end-end-radius: 0 !important;
    border-end-start-radius: 0 !important;
}

.tab-content {
    border-top: 1px solid #1b6ec2;
    padding-top: 1rem;
}

.index-node-header {
    display: flex;
    flex-direction: row;
    gap: 0.2rem;
    align-items: center;
}

    .index-node-header > .intranode-text {
        color: #444;
        margin: 0 0.5rem;
    }

    .index-node-header > .badge {
        font-size: 0.8rem;
        margin: 0 0.5rem;
    }

    .index-node-header button {
        border-radius: 50%;
        max-width: 2em;
        max-height: 2em;
        min-width: 2em;
        min-height: 2em;
        margin: 0.2em;
        font-size: 0.7rem;
        border: 1px solid #444;
    }

    .index-node-header button:disabled {
        visibility: hidden;
    }

.index-node-children ul {
    margin-left: 0.5em;
    border-left: 1px solid #AAA;
    padding-left: 0.5em;    
}

.index-node-children ul li {
    list-style-type: none;
}

.execution-plan .node {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0.4rem;
    flex: 1 1 auto;
}

.execution-plan .info {
    border-radius: 10px;
    min-width: 1.5em;
    display: inline-block;
    text-align: center;
    font-size: 0.9rem;
    padding: 0 0.4em;
}

.execution-plan .node-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

    .execution-plan .node-header .info.result-count {
        background-color: darkgreen;
        color: white;
        margin-right: 0.2rem;
    }

        .execution-plan .node-header .info.result-count::before {
            content: '\e00d';
            font-family: 'Icons';
            color: white;
            font-size: 0.8em;
        }

    /* special styling for operators to connect them to their child nodes */
    .execution-plan .node-header.operator {
        background: #CCC;
        padding: 0.2rem;
        border: 2px solid black;
        z-index: 2;
        right: -2px;
        border-right: 0;
    }

    /* The main row of information in the node header */
    .execution-plan .node-header .node-info .primary {
        font-size: 0.8rem;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

        .execution-plan .node-header .node-info .primary .execution-order {
            margin-right: 0.2em;
        }

        .execution-plan .node-header .node-info .primary .node-name {
            font-weight: bold;
            color: #1861ac;
            margin: 0 0.4em;
        }

    /* Adjust the color of the text */
    .execution-plan .node-header.operator .node-info .primary .node-name {
        color: #1861ac;
    }

    .execution-plan .node-header .node-info .primary svg {
        width: 20px;
        height: 20px;
        max-width: 20px;
        max-height: 20px;
    }

    .execution-plan .node-header .node-info .primary span:last-of-type {
        font-size: 0.8em;
        margin-left: 0.2rem;
    }

    .execution-plan .node-header .node-info {
        display: flex;
        flex-direction: column;
        margin-left: 0.5em;
        align-items: flex-start;
        font-size: 0.6rem;
    }

.execution-plan .node .node-children {
    position: relative;
    border-left: 2px solid;
    border-radius: 2px;
    padding: 0.3rem;
    background: #80808033;
    mix-blend-mode: multiply;
    display: flex;
    flex-direction: column;
}

    .execution-plan .node .node-children::before,
    .execution-plan .node .node-children::after {
        content: '';
        position: absolute;
        left: 0;
        width: 10px;
        height: 2px;
        background: black;
    }

    .execution-plan .node .node-children::before {
        top: 0;
    }

    .execution-plan .node .node-children::after {
        bottom: 0;
    }
